*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{
    --btnToggleBgColor: #2C67F2;
    --btnToggleColor:white;
    --shadowColor: #0A1230;

}
body{
    width: 100vw;
    font-weight: 300;
    box-shadow: inset 0px 0px 100px var(--btnToggleBgColor);
}
#button{
    width: 200px;
    height: 70px;
    font-size: 25px;
    margin: 10px;
    font-weight: 800;
    border: none;
    color: var(--btnToggleColor);
    background-color: var(--btnToggleBgColor);
    border-radius: 20px 20px 20px 20px;
}
#button:hover{
    border: 2px solid  var(--btnToggleBgColor);
    background-color: var(--btnToggleColor);
    color: var(--btnToggleBgColor);
}
h1,h3{
    color: white;
    text-shadow: 1px 1px 2px var(--shadowColor);
}
@media (width < 600px){
    #button{
        width: 100px;
        height: 50px;
        font-size: 15px;
    }
} 