.gamePartContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;

}

.gamePartContainer>button {
    width: 80px;
    height: 80px;
    background-color: var(--btnToggleBgColor);

}

/* @media (height < 600px){
    .gamePartContainer > button{
        width: 60px;
        height: 60px;
    }
   
} */